/*                          Sintaxis BEM
Bloque                  --> .bloque
    Elemento            --> .bloque__elemento
        Modificador     --> .bloque__elemento--modificador  "OR" .bloque--modificador
*/

/*ESTA HOJA DE ESTILO ES PARA TODAS LAS LAS VISTAS DE USUARIO*/


/*Fuente Principal*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
/*
:root{
    --background-color:  purple;
}
*/
* {
    padding: 0;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
}

.nav-link{
    font-size: 20px;
    text-align: center;
    /*letra mas gruesa -> font-weight: bold !important;*/ 
    /*color: #ffffff;*/
}


footer{
    background-color: black;
}

footer * {
    color: white;
    font-size: 1em;
}

   
    
